<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="runnerSvc.Properties.Settings.webappDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=webappDB;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="runnerSvc.Properties.Settings.runnerDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=runnerDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="webappDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=webappDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>